<%
  bins = {"<85"=>[0, 84.99], "85-90" => [85, 89.99], "90-95" => [90, 94.99], "95-98" => [95, 97.99], "98-100" =>[98,100]}
  hist = @active.readings.inject({}) do |r,i|
    bins.each do |k,v| 
      r[k] = 0 unless r.has_key?(k)      
      if i.spo2.between?(v[0],v[1])
        r[k] = r[k] + 1
        break
      end
    end        
    r 
  end
  
  hist_data = hist.map {|k,v| [k,v.to_f/@active.readings.count]}.reverse

%>

<h3>
  Most recent session 
  <small>started <span  moment-format="fromNow" utc="<%= @active.started_at %>"></span></small>
</h4>

<div class="row">    
  <div class="col-md-9">
    <%= line_chart @active.readings.map {|r| [r.published_at, r.spo2]}, height: "200px", library: {colors: ["#3366CC"], lineWidth: 0, explorer: {axis: "horizontal", actions: ['dragToZoom', 'rightClickToReset']}, vAxis: {title: "Oxygen Saturation (SpO2)", viewWindow: { min: 80, max: 100}}, aggregationTarget: "none"} %>
  </div>
  <div class="col-md-3">
    <%= bar_chart hist_data, height: "200px", library: {colors: ["#3366CC"], hAxis: {format: "percent", viewWindow: {min: 0, max: 1}}} %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <%= line_chart @active.readings.map {|r| [r.published_at, r.hr]}, height: "200px", library: {colors: ["#CC3366"], lineWidth: 0, explorer: {axis: "horizontal", actions: ['dragToZoom', 'rightClickToReset']}, vAxis: {title: "Heart Rate (bpm)", viewWindow: {min: 40, max: 120}}} %>
  </div>
  
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-12"><h4>Worst 5-min SpO2 averages</h4></div>
</div>

<div class="row">
  <% (1...@sessions.length).each do |i| 
    score = @session_score[i].round(0)
    
    color = case
      when score >= 98; "text-success"
      when score < 93; "text-danger"
      when score < 95; "text-warning"
      else ; ""
    end
  %>
  <div class="col-xs-4 col-md-2">
    
    
    <a href="/sessions/<%= encode(@sessions[i].id) %>" style="text-decoration: none; color: inherit;">
      <ul class="list-group">
        <li class="list-group-item text-center" moment-format="calendar" utc="<%= @sessions[i].started_at %>"><%= @sessions[i].started_at.localtime.strftime("%a %-m/%-d")%></li>
        <li class="list-group-item text-center <%= color %>" style="font-size: 2em; font-weight: 700"><%= @session_score[i].round(0)%><span style="font-weight: 300">%</span></li>
      </ul>
    </a>

  </div>
  <% end %>
</div>