<%
  hr = @active.readings.map {|r| r.hr}
  spo2 = @active.readings.map {|r| r.spo2}
  published_at = @active.readings.map{|r| r.published_at}
  num_readings = hr.length
  
  # generate spo2 histogram
  bins = {"<85"=>[0, 84.99], "85-90" => [85, 89.99], "90-95" => [90, 94.99], "95-98" => [95, 97.99], "98-100" =>[98,100]}
  hist = spo2.inject({}) do |r,i|
    bins.each do |k,v| 
      r[k] = 0 unless r.has_key?(k)      
      if i.between?(v[0],v[1])
        r[k] = r[k] + 1
        break
      end
    end        
    r 
  end  
  o2_hist = hist.map {|k,v| [k,v.to_f/num_readings]}.reverse
  
  # generate hr histogram
  bins = {"<40" => [0, 40], "40-60" => [50,59.99], "60-80" => [60, 79.99], "80+" => [80, 300]}
  hist = hr.inject({}) do |r,i|
    bins.each do |k,v| 
      r[k] = 0 unless r.has_key?(k)      
      if i.between?(v[0],v[1])
        r[k] = r[k] + 1
        break
      end
    end        
    r   
  end
  hr_hist = hist.map {|k,v| [k,v.to_f/num_readings]}.reverse
%>

<a href="/device/<%= @active.device.core_id %>">Back all readings</a>

<div class="row">
  <div class="col-md-12">
    <h4 class="pull-left"><%= @active.started_at.localtime.strftime("%A %-m/%-d") %></h4>
    <div class="pull-right">    
      <ul class="nav nav-pills">
        <% @sessions.each do |s| %>
          <li role="presentation" <%= (s.id == @active.id) ? "class=""active""" : "" %> ><a class="" href="/sessions/<%= encode(s.id) %>"><%= s.started_at.localtime.strftime("%a %-m/%-d") %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row">    
  <div class="col-md-9">
    <%= line_chart published_at.zip(spo2), height: "200px", library: {colors: ["#3366CC"], lineWidth: 0, explorer: {axis: "horizontal", actions: ['dragToZoom', 'rightClickToReset']}, vAxis: {title: "Oxygen Saturation (SpO2)", viewWindow: { min: 80, max: 100}}, aggregationTarget: "none"} %>
  </div>
  <div class="col-md-3">
    <%= bar_chart o2_hist, height: "200px", library: {colors: ["#3366CC"], hAxis: {format: "percent", viewWindow: {min: 0, max: 1}}} %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <%= line_chart published_at.zip(hr), height: "200px", library: {colors: ["#CC3366"], lineWidth: 0, explorer: {axis: "horizontal", actions: ['dragToZoom', 'rightClickToReset']}, vAxis: {title: "Heart Rate (bpm)", viewWindow: {min: 40, max: 120}}} %>
  </div>
  
  <div class="col-md-3">
    <%= bar_chart hr_hist, height: "200px", library: {colors: ["#CC3366"], hAxis: {format: "percent", viewWindow: {min: 0, max: 1}}} %>
  </div>
  
  <div class="col-md-3"></div>
</div>


